<div id='last_ruled_on_inquest'>
<% if inquest.present? %>	
  <%= inquest_image_tag_small(inquest) %>
  <br/>
  Yes: <%= inquest.yes_count %><br/>
  No: <%= inquest.no_count %><br/>
  Not Sure: <%= inquest.not_sure_count %><br/>
<% end %>
</div>
