<div id='last_ruled_on_inquest'>
<% if inquest.present? %>	
  <%= inquest_image_tag_small(inquest) %>
  <br/>
  <% hd = inquest.ruling_histogram_data %>
  Yes: <%= hd[Ruling::YES] || 0 %><br/>
  No: <%= hd[Ruling::NO] || 0 %><br/>
  Not Sure: <%= hd[Ruling::NOT_SURE] || 0 %><br/>
<% end %>
</div>
