html, body {
  background: #ddd;
  margin:0;
  padding:0; 
}

#wrapper {
  margin: 0 auto;
}

#header {
  float: left;
  font-size: 4em;
  width: 3em;
  margin: 0;
  padding: 0.5em 0 0 0;
  text-align: center;
}

  #header img {
    display: block;
    max-width: 4em;
    max-height: 4em;
    margin: 0;
    padding: 0;
  }

#footer {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

#content {
  padding: 2em;
  margin-left: 12em;
}

#footer {
  font-size: 1.5em;
  clear: both;
  text-align: center;
  border-top: 3px solid;
}

td, th {
  padding: .5em 1em;
  text-align: center;
}

div.inquest {
  padding: 1em;
  text-align: center;
}

#inquest_container {
  float: left;	
}
#last_ruled_on_inquest {
	float: left;
	margin-left: 40px;
}
  #last_ruled_on_inquest span {
    display: block;
  }
  
img.xOrNot {
  max-height: 15em;
  max-width: 15em;
}

img.xOrNotSmall {
  max-height: 8em;
  max-width: 8em;
}

#inquiry_container {
	overflow: auto;
	clear: both;
}

div.vote { margin-top: 1em; }

div.vote form.button-to, div.vote form.button-to div {
  display: inline;
}

.flash.notice { color: green; }
.flash.errro  { color: red; }
