html, body {
  background: #ddd;
  margin:0;
  padding:0; 
}

#wrapper {
  margin: 0 auto;
  padding: 0 25%;
}

#header, #footer {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

#content {
  clear: both;
  overflow: auto;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

#footer {
  clear: both;
  font-size: 1.5em;
}

h1 { font-size: 2em; }

td, th {
  padding: .5em 1em;
  text-align: center;
}

div.inquest {
  padding: 1em;
  text-align: center;
}

#inquest_container {
  float: left;	
}
#last_ruled_on_inquest {
	float: left;
	margin-left: 40px;
}
  #last_ruled_on_inquest span {
    display: block;
  }
  
img.xOrNot {
  max-height: 15em;
  max-width: 15em;
}

img.xOrNotSmall {
  max-height: 8em;
  max-width: 8em;
}

#inquiry_container {
	overflow: auto;
	clear: both;
}

div.vote { margin-top: 1em; }

div.vote form.button-to, div.vote form.button-to div {
  display: inline;
}

.flash.notice { color: green; }
.flash.errro  { color: red; }
