html, body {
  background: #eee no-repeat fixed top left;
  margin:0;
  padding:0; 
}

#wrapper {
  margin: 0 auto;
  padding: 2em;
}

#header {
  float: left;
  font-size: 4em;
  width: 3em;
  margin: 0;
  padding: 0.5em 0.5em 0 0;
  text-align: center;
}

  #header img {
    display: block;
    max-width: 4em;
    max-height: 4em;
    margin: 0;
    padding: 0;
  }

#footer {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

#content {
  padding: 2em;
  margin-left: 14em;
}

#footer {
  font-size: 1.5em;
  clear: both;
  text-align: center;
  border-top: 3px solid;
}

h2 { font-size: 2em; }

td, th {
  padding: .5em 1em;
  text-align: center;
}

div.inquest {
  padding: 1em;
  text-align: center;
}

#inquest_container {
  float: left;	
}
#last_ruled_on_inquest {
	float: left;
	margin-left: 40px;
}
  #last_ruled_on_inquest span {
    display: block;
    margin-top: 0.2em;
  }
  
img.xOrNot {
  display: block;
  max-height: 30em;
  max-width: 30em;
  box-shadow: 1em 1em 0.5em #888;
  -moz-box-shadow: 1em 1em 0.5em #888;
  -webkit-box-shadow: 1em 1em 0.5 #888;
  padding: 1em;
  background: #57a;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

img.xOrNot.small {
  max-height: 8em;
  max-width: 8em;
  margin: 4em 0 0.8em 0;
}

#inquiry_container {
	overflow: auto;
	clear: both;
}

div.vote { margin-top: 1em; }

div.vote form.button-to, div.vote form.button-to div {
  display: inline;
}

.flash.notice { color: green; }
.flash.errro  { color: red; }
