<html>
  <head>
    <title><%= t 'site.title' %></title>
  </head>
  <body>
    <div id='wrapper'>
      <div id='content'>
        <%= yield %>
      </div>
      <div id='footer'>
        <%= link_to t('site.issues_link.text'), t('site.issues_link.url') %>
      </div>
    </div>
  </body>
</html>
